.header-container {
    background-color: #c7f9cc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
    padding-bottom: 30px;
}

h1 {
    color: #1A2B70;
}

span {
    color: #38a3a5;
    font-weight: 800;
}

.audio-input-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    width: 80%;
}

/* Hide to allow customization of text content */
input[type="file"] {
    display: none;
}


.audio-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color: #38a3a5;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.audio-file-upload:hover {
    background-color:#57cc99;
}

.query-container {
    margin-left: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.input-query-text {
    width: 80%;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 1em;
}

.upload-button{
    width: 120px;
    height: 30px;
    background-color: #57cc99;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.upload-button:hover {
    background-color: #80ed99;
}